*{
			color: orange;
			font-family: "courier new", monospace;
		}
		
		h2{
			font-size: 40px;
			color: black;
			border: 2px solid green;
			font-family: sans-serif;
			padding: 50px;
		}
		.coding{
			background-color: lightgrey;
			font-family: "courier new",monospace;
		}
		.biru{color: #f00;
		}
		.merah{color: red;
		}
